<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xmlBasedService" name="firstBeanName,secondBeanName"
          class="ex.spring.context.xmlbasedconfig.service.impl.XmlBasedServiceImpl">
        <!-- field injection is not available in XML configuration -->
        <!-- for constructor injection -->
        <constructor-arg name="dependency" ref="dependency"/>
        <!-- for setter injection -->
        <!-- <property name="dependency" ref="dependency"></property> -->
    </bean>

    <bean id="dependency" class="ex.spring.context.xmlbasedconfig.service.impl.DependencyImpl"/>

</beans>